@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  position: relative;
  background-color: theme(colors.background);
  color: theme(colors.foreground);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}
